<div class="books-page">

  <header class="page-header">
    <h1>{{ 'myBooks' | translate }}</h1>
    <p class="lead">{{ 'manageBookCollection' | translate }}</p>
  </header>

  <section class="section books-list">
    <div *ngIf="isLoading">{{ 'loadingBooks' | translate }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <ul *ngIf="books.length > 0">
      <li *ngFor="let book of books">
        <strong>{{ book.title }}</strong> by {{ book.author }}
        <small>({{ formatDate(book.publishDate) }})</small>

        <button *ngIf="isLoggedIn()" (click)="editBook(book)">
          <i class="fa fa-edit"></i> {{ 'edit' | translate }}
        </button>
        <button *ngIf="isLoggedIn()" (click)="deleteBook(book)">
          <i class="fa fa-trash"></i> {{ 'delete' | translate }}
        </button>
      </li>
    </ul>

    <p *ngIf="books.length === 0">{{ 'noBooksYet' | translate }}</p>

    <button *ngIf="isLoggedIn()" (click)="addBook()">{{ 'addNewBook' | translate }}</button>
  </section>

</div>